.subscribe-btn {
    background-color: rgb(255, 45, 85);
    transition: background-color 300ms;
}

.subscribe-btn:hover {
    background-color: rgb(215, 0, 41);
}

@media screen and (max-width: 1600px) {
    .channel-banner {
        width: 90% !important;
    }
}

@media screen and (max-width: 375px) {
    .channel-banner {
        width: 100% !important;
    }
}